@charset "UTF-8";

body {
    background-color:#87EB93;
    font-family: Arial, Helvetica, sans-serif;
}


h1 {
    color: #122510;
}

h1#principal {
    color: #122510;
    background-color: #4E9E44;
    text-align: center;
}

h2 {
    color: #2D5A27;
}
p {
    text-align: justify;
}

.basico {
    color: #4BEA23;
}
.intermediario {
    color:#CCBB31;
}
.avancado {
    color:#EB6A58;
}